/* 给大页面框架的样式 */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-famliy: 'Poppins', sans-serif;
}

body {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
  background: #232c33;
}

.navigation {
  position: relative;
  height: 948px;
  width: 70px;
  background: #2b343b;
  box-shadow: 10px 0 0 #4187f6;
  border-left: 10px solid #2b343b;
  overflow-x: hidden;
  transition: width 0.5s;
}

.navigation:hover {
  width: 300px
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul .active {
  background: #4187f6;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.navigation ul li.active a::before{
  content: '';
  position: absolute;
  top: -30px;
  right:0;
  width: 30px;
  height: 30px;
  /* background: #f00; */
  border-radius: 50%;
  box-shadow: 15px 15px 0 #4187f6;
}

.navigation ul li.active a::after{
  content: '';
  position: absolute;
  bottom: -30px;
  right:0;
  width: 30px;
  height: 30px;
  /* background: #f00; */
  border-radius: 50%;
   box-shadow: 15px -15px 0 #4187f6;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 100px;
  line-height: 115px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  position: relative;
  font-size: 1.5em;
  z-index: 1;
}

.navigation ul li a .title {
  position:relative;
  display: block;
  padding-left:60px;
  height:90px;
  line-height: 100px;
  white- space: nowrap;
}

.content-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 80px;
  width:1200px;

}

.content-container .content{
  display: none;
}

.content-container .content.active {
  display:block;
}

@media screen and (max-width: 500px) {
  /* .tabs-container .tabs .tab {
    font-weight: 33%;
     min-width: 90vmin;
    height: 70vh; 
  } */
  .content-container {
    padding: 1em 1.2em;
  }
}

/* 给第一个tab内部的样式 */

.bBox1 {
  /* border: solid 2px black; */
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background: white;
}

.fill {
    /* background-image: url('https://tse4-mm.cn.bing.net/th/id/OIP-C.CV_FWM1SzRjiOxJQDUoZmgHaHa?w=200&h=200&c=7&r=0&o=5&dpr=1.7&pid=1.7'); */
    display: flex;
    align-item: center;
    justify-content: center;
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.fill img {
  width: 100%;
  height:auto;
}

.hold {
    border: solid 5px #4187f6;
}

.hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

@media(max-width:800px) {
    body {
        flex-direction: column;
    }
}

/* 第二个tab样式 */
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

:root {
  --color-bg: #4187f6;
  --color-dark: #156cf7;
  --color-light: #5895f7;
  --color-vc-bg: #00000049;
  --color-pb-bg: #555555;
  --color-pbm-bg: #4187f6;
  --color-pbl-bg: #dadada;
  --color-btn: #4187f6;
}

.content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60vw;
  min-height: 60vh;
  width: fit-content;
  height: fit-content;
  background-color: var(--color-bg);
}

.video-box {
  display: none;
  width: 40rem;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--color-bg);
  box-shadow: 1rem 1rem 2rem var(--color-dark),
    -1rem -1rem 2rem var(--color-light);
  font-size: 10px;
  box-sizing: border-box;
  user-select: none;
}

.video-content {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Material Icons', serif;
  background-color: #000000;
  overflow: hidden;
}

.pause-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6rem;
  font-weight: 900;
  color: var(--color-bg);
  transform: translate(-50%, -50%);
}

.video-main {
  width: 100%;
}

.video-control {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3.6rem;
  cursor: default;
  opacity: 0;
  opacity: 1;
  transform: opacity 0.5s;
}

.video-content:hover .video-control {
  opacity: 1;
}

.progress-bar-box {
  flex: none;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 0.6rem;
  background-color: var(--color-pb-bg);
}

.progress-bar-main {
  display: block;
  position: absolute;
  height: 100%;
  background-color: var(--color-pbm-bg);
  z-index: 1;
}

.progress-bar-load {
  display: block;
  position: absolute;
  height: 100%;
  background-color: var(--color-pbl-bg);
  z-index: 0;
}

.control-btn-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: var(--color-vc-bg);
  padding: 0 1rem;
}

.control-btn-box>span {
  width: fit-content;
  color: var(--color-btn);
  font-size: 2.2rem;
  font-weight: 600;
}

/* 第三个tab */
.dnd-file-uploader {
  width: 75vw;
}

.drop-area {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #8c8c8c;
  border: 6px dashed #bfbfbf;
  border-radius: 16px;
  user-select: none;
}

.upload-icon {
  color: #40a9ff;
  font-size: 100px;
}

.tip {
  font-size: 40px;
}

.task-list {
  height: 40vh;
  margin-top: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: #333;
  padding: 16px;
  position: relative;
}




/* 第四个tab内样式 */

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
    font-size: 6em;
    text-align: center;
    font-weight: 200;
    color: #dce;
    opacity: .1;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}